<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>

	<connectionStrings>
		<!-- Debug -->
		<add name="Minecraft_MySql_Debug" connectionString="server=127.0.0.1;user=root;database=minecraft;port=3306;password=;Charset=utf8;" />
		<add name="Minecraft_MongoDB_Debug" connectionString="mongodb://127.0.0.1:27017" />
		<add name="Minecraft_Redis_Debug" connectionString="127.0.0.1:6379" />

		<!-- Minecraft_LAN -->
		<add name="Minecraft_MySql_Minecraft_LAN" connectionString="server=192.168.0.132;user=root;database=minecraft;port=3306;password=123456;Charset=utf8;" />
		<add name="Minecraft_MongoDB_Minecraft_LAN" connectionString="mongodb://192.168.0.132:27017" />
		<add name="Minecraft_Redis_Minecraft_LAN" connectionString="192.168.0.132:6379" />

		<!-- Release -->
		<add name="Minecraft_MySql_Release" connectionString="server=192.168.0.132;user=root;database=minecraft;port=3306;password=123456;Charset=utf8;" />
		<add name="Minecraft_MongoDB_Release" connectionString="mongodb://192.168.0.132:27017" />
		<add name="Minecraft_Redis_Release" connectionString="192.168.0.132:6379" />
	</connectionStrings>

	<appSettings>
		<add key="Minecraft_MongoDBName" value="minecraft" />
		<add key="Redis.DefaultKey" value="minecraft" />
		<!--物品表 根据玩家Id进行分表的长度（一旦确定后不能再更改）（比如：如果值为10000，则表示PlayerId范围从1到10000的数据存到表名为【Goods_10000】的数据表中，PlayerId从10001到20000的数据存到表名为【Goods_20000】的数据表中）-->
		<add key="Minecraft_Mysql_GoodsTable_SubmeterLen" value="10000" />
		<!--好友表 根据玩家Id进行分表的长度（一旦确定后不能再更改）（比如：如果值为10000，则表示PlayerId范围从1到10000的数据存到表名为【Friend_10000】的数据表中，PlayerId从10001到20000的数据存到表名为【Friend_20000】的数据表中）-->
		<add key="Minecraft_Mysql_FriendTable_SubmeterLen" value="10000" />

		<!--加解密 密钥-->
		<add key="EncryptKey" value="Oyea" />

		<!--心跳包 请求密钥-->
		<add key="HeartDataReqSecretKey" value="$5*!26" />
		<!--心跳包  SecretKey+" "+时间戳   并且加密后，在服务器解密后的时间相差必须在60分钟之内（假设该值设置为60（单位：分钟））-->
		<add key="HeartDataReqTimeFrame" value="60" />
	</appSettings>


</configuration>