<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<add key="jsonConfigFile_Debug" value="config.Debug.json"/>
		<add key="jsonConfigFile_Minecraft_LAN" value="config.Minecraft_LAN.json"/>
		<add key="jsonConfigFile_Linux_LAN" value="config.Linux_LAN.json"/>
		<add key="jsonConfigFile_Release" value="config.Release.json"/>
		<!--加解密 密钥（与前端商定）-->
		<add key="EncryptKey" value="Oyea" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
