<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
  <connectionStrings>
	  <!-- Debug -->
	  <add name="Minecraft_MySql_Debug" connectionString="server=127.0.0.1;user=root;database=minecraft;port=3306;password=123456;Charset=utf8;" />
	  <add name="Minecraft_MongoDB_Debug" connectionString="mongodb://127.0.0.1:27017" />
	  <add name="Minecraft_Redis_Debug" connectionString="127.0.0.1:6379" />

	  <!-- YzzTest -->
	  <add name="Minecraft_MySql_YzzTest" connectionString="server=192.168.0.132;user=root;database=minecraft;port=3306;password=123456;Charset=utf8;" />
	  <add name="Minecraft_MongoDB_YzzTest" connectionString="mongodb://192.168.0.132:27017" />
	  <add name="Minecraft_Redis_YzzTest" connectionString="192.168.0.132:6379" />

	  <!-- Release -->
	  <add name="Minecraft_MySql_Release" connectionString="server=192.168.0.132;user=root;database=minecraft;port=3306;password=123456;Charset=utf8;" />
	  <add name="Minecraft_MongoDB_Release" connectionString="mongodb://192.168.0.132:27017" />
	  <add name="Minecraft_Redis_Release" connectionString="192.168.0.132:6379" />
  </connectionStrings>
</configuration>