<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <!--<add name="Minecraft_MySql" connectionString="server=localhost;user=root;database=minecraft;port=3306;password=;Charset=utf8;" />-->
    <add name="Minecraft_MySql" connectionString="server=192.168.0.132;user=root;database=minecraft;port=3306;password=;Charset=utf8;" />
    <add name="Minecraft_Redis" connectionString="" />
  </connectionStrings>
</configuration>